name: Publish Docker image

on:
  push:
    branches: [ main ]
    tags: [ v* ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.19

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: ghcr.io/${{ github.repository }}:latest

    - name: "Create Integration Test Cluster"
      uses: AbsaOSS/k3d-action@v2
      with:
        cluster-name: integration-test
        args: --agents 1

    - name: Run Tests
      run: |
        sudo curl -fsL -o /usr/local/bin/kapp https://github.com/carvel-dev/kapp/releases/download/v0.57.1/kapp-linux-amd64
        sudo curl -fsL -o /usr/local/bin/ytt https://github.com/carvel-dev/ytt/releases/download/v0.45.1/ytt-linux-amd64
        sudo chmod +x /usr/local/bin/kapp /usr/local/bin/ytt
        make test

  push:
    needs: build-and-test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          ghcr.io/${{ github.repository }}:latest
        platforms: linux/amd64,linux/arm64